extends ./layouts/master.jade

block content
  section#content.box
    div#home-slogan.box
      span.rotate-text Drive | Drive Performance | Drive Excellence | Leverage | Leverage Creativity | Leverage Technology | Showcase | Showcase Talent | Showcase Brand
    div#product-catalog
      div.product-icon.box
        | Talent Telescope
      div.product-icon.box
        | Creative Class
      div.product-icon.box
        | Wow App
      div.product-icon.box
        | Co-Excel
    div#solutions.box
      span.box Talent Search Management | Learning Management | Employee Management | Networking
    div#services.box
      div.service.yellow-block.box
        span.rotate-text-services Hire | Train | Engage | Excel
        div.inner-text.box
          | Say Hi
      div.service.black-block.box
        | Hello
      div.service.black-block.box
      div.service.yellow-block.box
      
