<!DOCTYPE html>
<html>
<head>
  <title>Creative HR</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
  <header class="home-header">
    <nav class="primary-nav">
      <button class="nav-button signup-button transition">SignUp</button>
      <button class="nav-button login-button transition">Login</button>
    </nav>
    <section class="header-info box">
      <span class="header-title">Creative HR</span><br />
      <span class="header-slogan">Leading talent to opportunitites</span>
    </section>
    <section class="job-search box">
      <form method="GET" action="#" class="job-search-form">
        <input type="text" name="job_name" id="job_name" class="job-search-input box" placeholder="Example: Software Engineer, Cofounder, etc.">
        <input type="submit" value="Search Job" class="job-search-submit transition">
      </form>
    </section>
  </header>
  <section class="home-content-wrapper" id="home-content-wrapper">
    <div class="home-slogan box">
      Here are a few suggesstions from us ;)
    </div>
    <div class="job-section-container box" id="job-section">
      <div class="job-section-header">
        <span class="job-category transition box">Information Technology</span>
        <span class="job-category transition box">Management</span>
        <span class="job-category transition box">Services</span>
        <span class="job-category transition box">Engineering</span>
      </div>
      <div class="job-section-table" id="job-section-table">
        <div class="job-table-header">
          <span class="section-title box transition">Job Title</span>
          <span class="section-title box transition">Company</span>
          <span class="section-title box transition">Posting Date</span>
        </div>
        <div class="job-table-body">
          <div class="job">
            <span class="job-detail box transition" id="job-title">Network Operator</span>
            <span class="job-detail box transition" id="job-company">Airtel</span>
            <span class="job-detail box transition" id="job-title">28/12/2017</span>
          </div>
          <div class="job">
            <span class="job-detail box transition" id="job-title">Network Operator</span>
            <span class="job-detail box transition" id="job-company">Airtel</span>
            <span class="job-detail box transition" id="job-title">28/12/2017</span>
          </div>
          <div class="job">
            <span class="job-detail box transition" id="job-title">Network Operator</span>
            <span class="job-detail box transition" id="job-company">Airtel</span>
            <span class="job-detail box transition" id="job-title">28/12/2017</span>
          </div>
          <div class="job">
            <span class="job-detail box transition" id="job-title">Network Operator</span>
            <span class="job-detail box transition" id="job-company">Airtel</span>
            <span class="job-detail box transition" id="job-title">28/12/2017</span>
          </div>
          <div class="job">
            <span class="job-detail box transition" id="job-title">Network Operator</span>
            <span class="job-detail box transition" id="job-company">Airtel</span>
            <span class="job-detail box transition" id="job-title">28/12/2017</span>
          </div>
          <div class="job">
            <span class="job-detail box transition" id="job-title">Network Operator</span>
            <span class="job-detail box transition" id="job-company">Airtel</span>
            <span class="job-detail box transition" id="job-title">28/12/2017</span>
          </div>
          <div class="job">
            <span class="job-detail box transition" id="job-title">Network Operator</span>
            <span class="job-detail box transition" id="job-company">Airtel</span>
            <span class="job-detail box transition" id="job-title">28/12/2017</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="site-footer box">
    <div class="footer-content box">
      <div class="footer-box box" id="jobs-location">
        <div class="footer-box-title">
          Jobs by location
        </div>
        <div class="footer-box-content">
          <span class="box-content">Jobs in Delhi</span>
          <span class="box-content">Jobs in Chandigarh</span>
          <span class="box-content">Jobs in Mumbai</span>
          <span class="box-content">Jobs in Bangalore</span>
          <span class="box-content">Jobs in Kochi</span>
        </div>
      </div>
      <div class="footer-box box" id="jobs-company">
        <div class="footer-box-title">
          Jobs by company
        </div>
        <div class="footer-box-content">
          <span class="box-content">Jobs in Airtel</span>
          <span class="box-content">Jobs in Erricson</span>
          <span class="box-content">Jobs in Microsoft</span>
          <span class="box-content">Jobs in Sony</span>
          <span class="box-content">Jobs in Samsung</span>
        </div>
      </div>
      <div class="footer-box box" id="about-company">
        <div class="footer-box-title">
          About Creative HR
        </div>
        <div class="footer-box-content">
          <span class="box-content">About Us</span>
          <span class="box-content">Our Mission</span>
          <span class="box-content">Work with us</span>
          <span class="box-content">Privacy Policy</span>
          <span class="box-content">Terms and Conditions</span>
        </div>
      </div>
    </div>
    <div id="copyright">
      Copyright (c) 2016 Creative HR All Rights Reserved.
    </div>
  </footer>
</body>
</html>
