/*
File: index.css
Description: The common CSS file
Version: 1.0.a1
Date: 28/12/2016
Author: Saurabh Badhwar <sbsaurabhbadhwar9@gmail.com>
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

/* Common Classes */
.box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.transition {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

/* Element Styling */
html, body {
  width: 100%;
  min-height: 100%;
  background: #fff;
  font-size: 18px;
}

a, a:visited, a:hover {
	text-decoration: none;
	cursor: pointer;
}

header {
	position: relative;

	width: 100%;
	height: 30px;

	background: #FFCE00;
}

nav#primary-nav {
	position: relative;

	width: 80%;
	height: 30px;
	margin: 0 auto;

	color: #262228;
}

ul.primary-nav-links {
	position: relative;

	width: 100%;
	height: 30px;
}

li.primary-nav-link {
	position: relative;

	display: inline-block;
	text-align: center;

	width: 15%;
	height: 30px;

	font-size: 0.8em;
	font-weight: bold;

	line-height: 30px;
	letter-spacing: 1px;
}

li.home-link {
	width: 40%;

	font-size: 1em;
	font-weight: bold;

	letter-spacing: 1px;
}

a.link {
	font-family: 'Roboto', sans-serif;

	color: #262228;
}

a.link:hover {
	color: #262228;
}

/* Website content */
section#content {
	position: relative;

	width: 100%;

	margin: 0 auto;
	padding: 5px 0 0 0;

	background: #FFCE00;
}

div#home-slogan {
	position: relative;

	width: 100%;

	margin: 200px auto;
	text-align: center;
}

.rotate-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 2em;

	color: #262228;
}

div#product-catalog {
	position: relative;

	width: 100%;
	height: 200px;

	margin: 0 auto;
}

div.product-icon {
	position: relative;

	display: inline-block;

	width: 25%;
	height: 200px;

	background: #007849;
	color: #fff;

	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

	line-height: 200px;

	text-align: center;
}

div#solutions {
	position: relative;

	width: 100%;
	height: 100px;

	padding: 20px 5px;

	text-align: center;

	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 1px;

	line-height: 60px;

	background-color: #0375B4;
	color: #fff;
}

div#services {
	position: relative;

	width: 100%;
}

div.service {
	position: relative;

	float: left;
	width: 50%;
	height: 500px;
	text-align: center;

	padding: 5px;
}

.yellow-block {
	background-color: #FFCE00;
	color: #262228;
}

.black-block {
	background-color: #262228;
	color: #EEE;
}

span.block-title {
	position: relative;
	display: inline-block;
	text-align: center;

	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.2em;

	margin-top: 10px;

	letter-spacing: 1px;
}

div.inner-text {
	position: relative;

	width: 80%;
	margin: 100px auto;

	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;

	line-height: 1.1em;
	letter-spacing: 1px;
}

button.black-button {
	position: relative;

	background: transparent;
	color: #262228;
	border: 2px solid #262228;

	padding: 5px 2px;

	font-family: 'Roboto', sans-serif;
	font-weight: bold;

	cursor: pointer;
}

form.register-form {
	position: relative;

	width: 90%;
	margin: 50px auto;

	background-color: #eee;
}

button.switch-mode {
	position: relative;

	width: 50%;

	padding: 5px 2px;

	background: transparent;
	border-radius: 0;
	border: 0;

	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

input.text-control {
	position: relative;

	width: 100%;
	height: 50px;

	padding: 5px 2px;

	background: #eee;
	border-radius: 0;
	border: 0;

	font-family: 'Open Sans', sans-serif;
}
